body 
	margin  0
	padding  0
	height  100%
	background rgb(242,249,254)
	
.machine
	float left
	margin 20px 0 0 20px
	width 180px
	height auto
	background white
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:1px solid #ccc;
	h4
		text-align center
	.segments
		width auto
		height 380px
		margin 10px 30px 10px 30px
		background white
	.btn
		width 120px
		margin-left 30px
		margin-bottom 4px
	.clear
		margin-bottom 10px