doctype html
html
	head
		title Magnetic Letterpress
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		
	body
		.machine
			h4 Machine 1
			.segments
			button.btn.btn-default SEND
		.machine
			h4 Machine 2
			.segments
			button.btn.btn-default SEND
		.machine
			h4 Machine 3
			.segments
			button.btn.btn-default SEND
		.machine
			h4 Machine 4
			.segments
			button.btn.btn-default SEND
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/two.min.js')
		script(src='/javascripts/index.js')
		